* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #fffaf1;
}

.flex-parent-element {
  display: flex;
  flex-direction: row;
}

.flex-child-element {
  flex: auto;
  flex-direction: row;
  min-height: 600px;
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 0%;
  /* border-style: solid; */
  /* border-color:5px coral; */
  padding-right: 2%;
}

.flex-child-element:first-child {
  margin: 4px auto;
  flex-direction: column;
  min-height: 600;
  width: 100px;
}
/* .todo-app {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 430px;
  height: 600px;
  background-color: #F4F0DB;
  text-align: center;
  margin: 2%;
  padding-top: 2%;
  border-radius: 10px;
  
}

.calender-app{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 1130px;
  height: 600px;
  background-color: #F4F0DB;
  text-align: center;
  padding-top: 0%;
 

  
} */
h1 {
  margin: 32px 0;
  color: rgb(30, 28, 28);
  font-size: 24px;
  padding-left: 1%;
}

.complete {
  text-decoration: line-through;
  opacity: 0.6;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #488265;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(18, 16, 16);
}

.todo-input::placeholder {
  color: #0a0a0a;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, #0291bc 0%, #c4e754 70%);
  color: rgb(64, 60, 83);
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  color: rgb(64, 60, 83);
  background: #c4e754;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: #ffcaaf;
}

.todo-row:nth-child(4n + 2) {
  background: #a7bed3;
}

.todo-row:nth-child(4n + 3) {
  background: #0291bc;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(64, 60, 83);
}

.edit-icon {
  color: rgb(64, 60, 83);
}
